@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="header">
        <h2>Testando Saque</h2>
    </div>
    <style media="all" type="text/css">
    </style>
    <form method="POST" class="formBonito" runat="server">
        <div>
            <label for="ValorSaque">Insira o valor a ser sacado:</label>
            <input type="text" name="ValorSaque" value="" placeholder="Insira o valor aqui" />
            <input type="submit" />
        </div>
    </form>
    <div>
        <h2>Notas</h2>
        <ul>
            <!--Inserir os resultados-->
            <!--Usar XMLHttp?-->
            <li id="nota100">Notas de R$100: </li>
            <li id="nota50">Notas de R$50: </li>
            <li id="nota20">Notas de R$20: </li>
            <li id="nota10">Notas de R$10: </li>
            <li id="nota5">Notas de R$5: </li>
            <li id="nota2">Notas de R$2: </li>
        </ul>
        <label for="resultado">Valor final do saque: </label>
    </div>

</body>
