@{
    ViewBag.Title = "Home Page";
}

@model ValoresNotas

<head>
    <style>
        table {
            border-collapse: inherit;
            border: 2px solid black;
            padding: 2px;
        }
        th {
            background-color: black;
            color: white;
            width:150px;
            text-align:center;
        }
        button{
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 2px 3px 0 rgba(0,0,0,0.19);
            border: none;
            padding: 3px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            background-color: #e7e7e7;
            color: black;
            border-radius: 3px;
            border: 0.5px solid #8c8c8c;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>    
</head>
<body>
    <div class="header">
        <h2>Caixa Eletrônico</h2>
    </div>
    <div>
        <br>
        <h4>Deposito</h4>
    </div>
    <form method="POST" runat="server">
        <div>
            <label for="ValorDeposita">Deposite o valor:</label>
            <input type="text" name="ValorDeposita" value="" placeholder="Insira aqui" />
            <button id="Depositar">Depositar</button>
        </div>
    </form>
    <div>
        <br>
        <p>Saldo total: <b id="SaldoTotal">0</b></p>
    </div>
    <div>
        <br>
        <h4>Saque</h4>
    </div>
    <form method="POST" runat="server">
        <div>
            <label for="ValorSaque">Valor a ser sacado:</label>
            <input type="text" name="ValorSaque" id="ValorSaque" placeholder="Insira aqui" />
            <button id="Sacar">Sacar</button>
        </div>
    </form>
    <div>
        <h3>Notas</h3>
        <table>
            <tr>
                <th>Valor Notas</th>
                <th>Quantidade</th>
            </tr>
            <tr>
                <td>Nota de 100</td>
                <td id="tableNotes100" style="text-align:center">0</td>
            </tr>
            <tr>
                <td>Nota de 50</td>
                <td id="tableNotes50" style="text-align:center">0</td>
            </tr>
            <tr>
                <td>Nota de 20</td>
                <td id="tableNotes20" style="text-align:center">0</td>
            </tr>
            <tr>
                <td>Nota de 10</td>
                <td id="tableNotes10" style="text-align:center">0</td>
            </tr>
            <tr>
                <td>Nota de 5</td>
                <td id="tableNotes5" style="text-align:center">0</td>
            </tr>
            <tr>
                <td>Nota de 2</td>
                <td id="tableNotes2" style="text-align:center">0</td>
            </tr>
        </table>
        <div>
            <br>
            <b>@Html.DisplayFor(modelItem => Model.Valid)</b> 
            <!--Somente sinalizar se saque for inválido-->
        </div>
    </div>
    <!--Este ajax tem que ser modificado para a atualização da tabela-->
    <script>
        $(document).ready(function(){
            $("#Sacar").click(function(){
                $("#tableNotes100").html(/*Achar umas maneira de atualizar a tabela sem recaregar a page*/);
                $("#tableNotes50").html(/*Achar umas maneira de atualizar a tabela sem recaregar a page*/);
                $("#tableNotes20").html(/*Achar umas maneira de atualizar a tabela sem recaregar a page*/);
                $("#tableNotes10").html(/*Achar umas maneira de atualizar a tabela sem recaregar a page*/);
                $("#tableNotes5").html(/*Achar umas maneira de atualizar a tabela sem recaregar a page*/);
                $("#tableNotes2").html(/*Achar umas maneira de atualizar a tabela sem recaregar a page*/);
            })
        })
    </script>
</body>